/* ================= Root ================= */
.editor-settings {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Apply scrolling behavior only on larger screens */
@media (min-width: 1025px) {
  .editor-settings {
    max-height: calc(100vh - 160px); /* Adjust as needed */
    overflow-y: auto;
    position: sticky;
    top: 140px;
    padding-right: 0.5rem; /* Add some space for the scrollbar */
  }
}
