/* ===============================
   Layout helpers (split layouts)
================================ */
.layout-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 0;
}

.layout-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  min-height: 0;
}

.layout-grid {
  display: grid;
  width: 100%;
  height: 100%;
  min-height: 0;
}
